### Data Encoding

### 1. Nominal / One HOT Enoding

In [1]:
### Red [1 0 0]
### Green [0 1 0]
### Blue [0 0 1]

In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
## craete simple df
df = pd.DataFrame({
    'color':['red', 'blue', 'green', 'green', 'red', 'blue']
})

In [4]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [5]:
## create an instance on one hot encoder
encoder = OneHotEncoder()

In [6]:
## we perform fit and then transform
encoded = encoder.fit_transform(df[['color']]).toarray()

In [7]:
import pandas as pd
encoder_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())

In [8]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [9]:
## for new data
encoder.transform([['blue']]).toarray()

C:\Users\manali ilag\anaconda3\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [10]:
dff = pd.concat([df, encoder_df ], axis = 1)

In [11]:
dff

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [12]:
## for new data2 
encoder.transform([['red']]).toarray()

C:\Users\manali ilag\anaconda3\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[0., 0., 1.]])

In [13]:
dff

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [14]:
import seaborn as sns

In [15]:
df_tips = sns.load_dataset('tips')

In [16]:
df_tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [17]:
# sex , smoker, day, time 
# are categraical feature lets apply one hot encoding on this columns
# -------------------------------------------------------------------
#lets check unique categories in this columns
print(df_tips['sex'].unique())
print(df_tips['smoker'].unique())
print(df_tips['day'].unique())
print(df_tips['time'].unique())

['Female', 'Male']
Categories (2, object): ['Male', 'Female']
['No', 'Yes']
Categories (2, object): ['Yes', 'No']
['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']
['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [18]:
# craete encoder
tips_encoder = OneHotEncoder()

In [19]:
tips_encoder

OneHotEncoder()

In [20]:
# now apply fit then transfer to this features
sex_encoder = tips_encoder.fit_transform(df_tips[['sex']]).toarray()

In [21]:
encoder_df_sex = pd.DataFrame(sex_encoder, columns=tips_encoder.get_feature_names_out())

In [22]:
encoder_df_sex.head()

   sex_Female  sex_Male
0         1.0       0.0
1         0.0       1.0
2         0.0       1.0
3         0.0       1.0
4         1.0       0.0

In [23]:
sex_concatenated_df = pd.concat([df_tips[['sex']], encoder_df_sex], axis=1)

In [24]:
sex_concatenated_df.head()

      sex  sex_Female  sex_Male
0  Female         1.0       0.0
1    Male         0.0       1.0
2    Male         0.0       1.0
3    Male         0.0       1.0
4  Female         1.0       0.0

In [25]:
smoker_encoder = tips_encoder.fit_transform(df_tips[['smoker']]).toarray()
encoder_df_smoker = pd.DataFrame(smoker_encoder, columns=tips_encoder.get_feature_names_out())
# print(encoder_df_smoker.head())
smoker_concatenated_df = pd.concat([df_tips[['smoker']], encoder_df_smoker], axis=1)
# print(smoker_concatenated_df.head())

In [26]:
day_encoder = tips_encoder.fit_transform(df_tips[['day']]).toarray()
# print(day_encoder)

In [27]:
day_key_val_df= pd.DataFrame(day_encoder, columns=tips_encoder.get_feature_names_out())

In [28]:
day_key_val_df.head()

   day_Fri  day_Sat  day_Sun  day_Thur
0      0.0      0.0      1.0       0.0
1      0.0      0.0      1.0       0.0
2      0.0      0.0      1.0       0.0
3      0.0      0.0      1.0       0.0
4      0.0      0.0      1.0       0.0

In [29]:
day_concanated_df = pd.concat([df_tips[['day']],day_key_val_df], axis=1)

In [30]:
day_concanated_df

      day  day_Fri  day_Sat  day_Sun  day_Thur
0     Sun      0.0      0.0      1.0       0.0
1     Sun      0.0      0.0      1.0       0.0
2     Sun      0.0      0.0      1.0       0.0
3     Sun      0.0      0.0      1.0       0.0
4     Sun      0.0      0.0      1.0       0.0
..    ...      ...      ...      ...       ...
239   Sat      0.0      1.0      0.0       0.0
240   Sat      0.0      1.0      0.0       0.0
241   Sat      0.0      1.0      0.0       0.0
242   Sat      0.0      1.0      0.0       0.0
243  Thur      0.0      0.0      0.0       1.0

[244 rows x 5 columns]

### 2. Label Encoding

In [31]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [32]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder = LabelEncoder()

In [33]:
lbl_encoder.fit_transform(df[['color']])

C:\Users\manali ilag\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 1, 2, 0])

In [34]:
lbl_encoder.transform([['red']])

C:\Users\manali ilag\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

In [35]:
lbl_encoder.transform([['blue']])

C:\Users\manali ilag\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0])

In [36]:
lbl_encoder.transform([['green']])

C:\Users\manali ilag\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([1])

### Label Encoding 
- disadvantage : - 
    when we assigns label red blue green... as 0,1,2,3,4 ... model will think that the one color is grater than other because of there assisgned number is grater than the other

### Ordinal Encoding

In [37]:
# order by ranking
# 1. High School - 1
# 2. College - 2
# 3. Graduate - 3
# 4. Post Graduate - 4

In [38]:
from sklearn.preprocessing import OrdinalEncoder

In [39]:
df=pd.DataFrame({
    'size':['small', 'medium', 'large', 'medium', 'small', 'large']
})

In [40]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [41]:
# crete an instance of ordinal encoder and then fit_transform
encoder=OrdinalEncoder(categories=[['small','medium','large']])

In [42]:
encoder

OrdinalEncoder(categories=[['small', 'medium', 'large']])

In [43]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [44]:
encoder.transform([['small']])

C:\Users\manali ilag\anaconda3\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])

### Target Guided Ordinal Encoding

#### - Encode categorical variable based on the relationship with the target variable

#### - based on mean and median of target variable for thaT category

#### - use for large no of unique categorical variable

In [45]:
import pandas as pd

In [46]:
df = pd.DataFrame({
    'city':['New York', 'London', 'Paris', 'Tokyo', 'New York','Paris'],
    'price':[200,150,300,250,180,320]
})

In [47]:
df

       city  price
0  New York    200
1    London    150
2     Paris    300
3     Tokyo    250
4  New York    180
5     Paris    320

In [48]:
mean_price=df.groupby('city')['price'].mean().to_dict()

In [49]:
mean_price

{'London': 150.0, 'New York': 190.0, 'Paris': 310.0, 'Tokyo': 250.0}

In [50]:
df['city_encoded'] = df['city'].map(mean_price)

In [51]:
df

       city  price  city_encoded
0  New York    200         190.0
1    London    150         150.0
2     Paris    300         310.0
3     Tokyo    250         250.0
4  New York    180         190.0
5     Paris    320         310.0

In [52]:
df[['price','city_encoded']]

   price  city_encoded
0    200         190.0
1    150         150.0
2    300         310.0
3    250         250.0
4    180         190.0
5    320         310.0

In [67]:
### Assignment
### tips - time based on total bill

In [55]:
df_tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [58]:
bill_mean_price = df_tips.groupby('time')['total_bill'].mean().to_dict()

In [59]:
bill_mean_price

{'Lunch': 17.168676470588235, 'Dinner': 20.79715909090909}

In [61]:
df_tips['time_mean'] = df_tips['time'].map(bill_mean_price)

In [62]:
df_tips

     total_bill   tip     sex smoker   day    time  size  time_mean
0         16.99  1.01  Female     No   Sun  Dinner     2  20.797159
1         10.34  1.66    Male     No   Sun  Dinner     3  20.797159
2         21.01  3.50    Male     No   Sun  Dinner     3  20.797159
3         23.68  3.31    Male     No   Sun  Dinner     2  20.797159
4         24.59  3.61  Female     No   Sun  Dinner     4  20.797159
..          ...   ...     ...    ...   ...     ...   ...        ...
239       29.03  5.92    Male     No   Sat  Dinner     3  20.797159
240       27.18  2.00  Female    Yes   Sat  Dinner     2  20.797159
241       22.67  2.00    Male    Yes   Sat  Dinner     2  20.797159
242       17.82  1.75    Male     No   Sat  Dinner     2  20.797159
243       18.78  3.00  Female     No  Thur  Dinner     2  20.797159

[244 rows x 8 columns]

In [66]:
df_tips[['time','time_mean']]

       time  time_mean
0    Dinner  20.797159
1    Dinner  20.797159
2    Dinner  20.797159
3    Dinner  20.797159
4    Dinner  20.797159
..      ...        ...
239  Dinner  20.797159
240  Dinner  20.797159
241  Dinner  20.797159
242  Dinner  20.797159
243  Dinner  20.797159

[244 rows x 2 columns]